* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at center, #102849, #061d37);
}
